div.news-detail
{
	word-wrap: break-word;
	background: #fff;
} 
div.news-detail img.detail_picture
{
	margin-right: auto; 
    margin-left: auto; 
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

hr{
	background: url(http://www.rusantikvar.ru/local/templates/antikvar/img/footer.png);
    height: 20px !important;
    border: none;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 20px;
}