.collections-slider .bigFOTO a.active {
    display: block;
}

.collections-slider .bigFOTO a{
    display: none;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 9000;
}