.collections-slider .bigFOTO a.active {
    display: block;
}

.collections-slider .bigFOTO a{
    display: none;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 9000;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img.award-thumb {
    float: left;
    margin-right: 15px;
}

.award-item.clearfix {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c18a31;
    font-size: 20px;
}

.award-item a {
    text-decoration: none;
    color: #000;
}

.cat-picture-container{
    text-align: center;
    padding: 30px;
    padding-bottom:50px;
}

.cat-picture-container img{
    margin: 0 auto;
    width: 300px;
    max-width: 100%;
}

.award-table td, th {
    padding: 8px;
    border-right: 1px solid black;
    border-spacing: 0;
    border-bottom: 1px solid black;
}

.award-table tr td:last-child, .award-table tr th:last-child{
    border-right: none;
}

table.award-table{
    border: 1px solid black;
}

table.award-table tr{
    border-bottom: 1px solid black;
}

table.award-table tr:last-child td{
    border-bottom: none;
}

table.award-table{
    border-spacing: 0;
}