#templatemo_menu {
	clear: both;
	width: 980px;
	height: 90px;
	background: url(/bitrix/templates/main/images/templatemo_menu_bg.jpg) center no-repeat;
}

#templatemo_menu ul {
	width: 840px;
	overflow: hidden;
	padding: 30px 0 0 0;
	margin: 0px auto;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	padding-top: 19px;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
	color: #ffe64e;	
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(/bitrix/templates/main/images/templatemo_menu_hover.png) center bottom no-repeat;
}